<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1"/>
    <title>Vis huskelister</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
         $(document).ready(function(){
            $.getJSON("http://localhost:8080/huskeliste", function(result){
               $.each(result, function(key,value) {
                  $("#huskelisteJson").append(value+" ");
               });
            });
         });
      </script>
</head>

<body>
<div id = "huskelisteJson"> </div>
</body>
</html>